<md-dialog style="width:1050px;height:700px;">
    <md-dialog-content>
        <div class="gummy-dialog-title">
            <span>课程视频</span>
            <i class="fa fa-close fa-lg" aria-hidden="true" ng-click="close()"></i>
        </div>
        <div class="gummy-dialog-vedio">
              <div class="flowplayer">
                    <video>
                       <source type="video/mp4" src="/resources/video/css3介绍与基础语法.mp4">
                    </video>
               </div>
        </div>
    </md-dialog-content>
</md-dialog>