<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <!-- <title>學云微课堂</title> -->
    <title>百度一下,你就知道</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- user-scalable=no 禁用缩放功能 -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="libs/ngImgCrop/compile/minified/ng-img-crop.css">
    <link rel="stylesheet" href="libs/video/skin/functional.css">
    <link rel="stylesheet" href="styles/css/index.css"/>
    <link rel="stylesheet" href="styles/css/course_index.css"/>
    <link rel="stylesheet" href="styles/css/user.css"/>
    <link rel="stylesheet" href="styles/css/bbs.css"/>
    <link rel="stylesheet" href="styles/css/manager.css">
    <link rel="stylesheet" href="styles/css/animate.css">
</head>
<body ng-app="BlankApp" ng-cloak style="z-index:1;">
      <nav class="navbar navbar-default gummy_nav" role="navigation" ng-controller="TopMenuCtrl">
          <div class="container">
            <div class="navbar-header">
                <img src="./images/logo.png" class="logo" id="logo"/>
                <a class="navbar-brand" href="#" style="color:#FFFFFF;">學云微课堂</a>
            </div>
            <div ng-hide="ifUserLogin || ifManagerLogin">
                  <form class="navbar-form navbar-right" role="search">
                        <a class="gummy_btn_a" ng-click="showLogin($event)" ng-if="showUser">登录</a>
                        <a class="gummy_btn_a" ng-click="showRegister($event)" ng-if="showUser">注册</a>
                        <a class="gummy_btn_a" ui-sref="managerLogin">管理员</a>
                  </form>
            </div>
            <div ng-if="ifUserLogin" class="nav_right">
                  <div class="btn-group" style="display: inline-block;">
                         <button type="button" class="btn btn-gummy dropdown-toggle" data-toggle="dropdown">
                              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                              <span ng-bind="username"></span>
                              <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                              <li role="presentation" class="dropdown-header">用户管理</li>
                              <li role="presentation">
                                  <a ui-sref="user">用户信息</a>
                              </li>
                              <li role="presentation">
                                  <a role="menuitem" tabindex="-1" ng-click="revisepsd($event)">修改密码</a>
                              </li>
                              <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#" ng-click="logout()">用户注销</a>
                              </li>
                         </ul>
                  </div>
            </div>
             <div ng-if="ifManagerLogin" class="nav_right">
                  <div class="btn-group" style="display: inline-block;">
                         <button type="button" class="btn btn-gummy dropdown-toggle" data-toggle="dropdown">
                              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                              <span ng-bind="managerName"></span>
                              <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                              <li role="presentation">
                                  <a role="menuitem" tabindex="-1" ng-click="revisepsd($event)">修改密码</a>
                              </li>
                              <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#" ng-click="logout()">用户注销</a>
                              </li>
                         </ul>
                  </div>
            </div>
          </div>
      </nav>
      <div class="content">
          <!-- <div id="loading-bar-container"></div>  -->
        	<div class="maincontent">
        		 <div class="uiViewContent" ui-view id="uiViewContent"></div>
        	</div>
      </div>
      <!-- bower_components -->
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-animate/angular-animate.min.js"></script>
      <script src="bower_components/angular-aria/angular-aria.min.js"></script>
      <script src="bower_components/angular-messages/angular-messages.min.js"></script>
      <script src="bower_components/angular-material/angular-material.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="libs/lodash.min.js"></script>
      <script src="libs/ngImgCrop/compile/minified/ng-img-crop.js"></script>
      <script src="libs/video/flowplayer.min.js"></script>
      <script src="scripts/app.js"></script>
      <!-- controllers -->
      <script src="scripts/controllers/TopMenuController.js"></script>
      <script src="scripts/controllers/CourseIndexController.js"></script>
      <script src="scripts/controllers/UserController.js"></script>
      <script src="scripts/controllers/BBSController.js"></script>
      <script src="scripts/controllers/ManagerController.js"></script>
      <!-- directives -->
      <script src="scripts/directives/msgFactory.js"></script>
      <script src="scripts/directives/autoFloat.js"></script>
      <script src="scripts/directives/directive.js"></script>
      <script src="scripts/directives/angular-file-downloader.js"></script>
      <!-- services -->
      <script src="scripts/services/constantService.js"></script>
      <script src="scripts/services/requestService.js"></script>
      <!-- backgroud -->
      <script type="text/javascript">
        window.onload = function(){
          var config = {
            vx: 4,
            vy:  4,
            height: 2,
            width: 2,
            count: 100,
            color: "121, 162, 185",
            stroke: "100,200,180",
            dist: 6000,
            e_dist: 20000,
            max_conn: 10
          }
          CanvasParticle(config);
        }
      </script>
      <script src="libs/canvas-particle.js"></script>
</body>
</html>
