<div class="gummy_main_body">
	<section>
		 <div id="myCarousel" class="carousel slide gummy_carousel">
			 <!-- 轮播（Carousel）指标 -->
			 <ol class="carousel-indicators">
			        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			        <li data-target="#myCarousel" data-slide-to="1"></li>
			        <li data-target="#myCarousel" data-slide-to="2"></li>
			 </ol>   
			 <!-- 轮播（Carousel）项目 -->
			 <div class="carousel-inner">
			        <div class="item active">
			            <img src="" alt="First slide">
			            <div class="carousel-caption">标题 1</div>
			        </div>
			        <div class="item">
			            <img src="" alt="Second slide">
			            <div class="carousel-caption">标题 2</div>
			        </div>
			        <div class="item">
			            <img src="" alt="Third slide">
			            <div class="carousel-caption">标题 3</div>
			        </div>
			 </div>
			 <!-- 轮播（Carousel）导航 -->
			 <a class="carousel-control left" href="#myCarousel" 
			        data-slide="prev">&lsaquo;
			 </a>
			 <a class="carousel-control right" href="#myCarousel" 
			        data-slide="next">&rsaquo;
			 </a>
		 </div>
	</section>
	<section class="course_center_courses">
       	 <div class="container">
       	 	 <div class="row" style="margin-bottom: 70px;">
       	 	 	 <div class="col-md-4 bounceInLeft animated">
       	 	 	 	 <div class="course_card">
                                       <div class="course_img">
                                       	 <img alt="Ruby Path Badge" class="image-rotate" src="images/bbs-resource.svg">
                                       </div>
       	 	 	 	 	 <div class="course_content">
				                    <h2>
				                        <a ui-sref="resources" class="course_html">资源区</a>
				                    </h2>
				                    <p class="tct js-path-description">
				                         此板块用于分享各类优秀资源，在这里，你可以上传自己的资源，也可以查看和下载其他人的资源。
				                    </p>
				             </div>
       	 	 	 	 </div>
       	 	 	 </div>
       	 	 	 <div class="col-md-4 bounceInLeft animated">
       	 	 	 	<div class="course_card">
       	 	 	 		 <div class="course_img">
                                       	 <img alt="Ruby Path Badge" class="image-rotate" src="images/bbs-activity.svg">
                                       </div>
       	 	 	 	 	 <div class="course_content">
				                    <h2>
				                        <a ui-sref="books" class="course_js">图书区</a>
				                    </h2>
				                    <p class="tct js-path-description">
				                          此板块主要是用于下载各类学习资料，真正的学习永远在各种书记中，下载感兴趣的书籍，开始学习吧。
				                    </p>
				             </div>
       	 	 	 	</div>
       	 	 	 </div>
       	 	 	 <div class="col-md-4 bounceInRight animated">
       	 	 	 	<div class="course_card">
       	 	 	 		 <div class="course_img">
                                       	 <img alt="Ruby Path Badge" class="image-rotate" src="images/bbs-communication.svg">
                                       </div>
       	 	 	 	 	 <div class="course_content">
				                    <h2>
                                                  <!-- ui-sref="communicate" -->
				                        <a href="" class="course_css">讨论区</a>
				                    </h2>
				                    <p class="tct js-path-description">
				                        此板块主要用于交流探讨问题，在这里，你可以贴询问，也可以随意的发帖找队友，找基友，找朋友。
				                    </p>
				             </div>
       	 	 	 	</div>
       	 	 	 </div>
       	 	 </div>
       	 </div>
       </section>
</div>
