<div class="container">
      <ol class="breadcrumb bbs-breadcrumb">
            <li><a ui-sref="bbs">论坛</a></li>
            <li class="active"><a href="#">{{nowResource}}</a></li>
      </ol>
      <ul class="nav nav-pills">
            <li ng-repeat="option in categoryList" ng-class="{active:nowCategory === option}" ng-click="bookFilter(option)">
                <a href="" ng-bind="option"></a>
            </li>
      </ul>
      <div class="books-warp">
            <div class="row">
                  <div class="col-md-3" ng-repeat="book in bookList">
                       <div class="book-warp" book-hover>
                           <div class="good-book" ng-if="book.good === 1">推荐</div>
                           <img src="{{book.bookImg}}" alt="图书">
                           <div class="txt">
                                <h3>{{book.bookName}}</h3>
                                <!-- <download-link href='AAA' headers='{"xxx":"yyy"}' mime='application/pdf'>
                                      <button>下载</button>
                                </download-link> -->
                                <a href="{{book.bookHref}}" target="view_window">
                                     <button class="btn" ng-click="bookDownload(book.bookName)">下载</button>
                                </a>
                           </div>
                       </div>
                  </div>
            </div>
      </div>
</div>