<div class="container">
      <ol class="breadcrumb bbs-breadcrumb">
            <li><a ui-sref="bbs">论坛</a></li>
            <li class="active"><a href="#">{{nowResource}}</a></li>
      </ol>
      <div class="resources-warp">
            <div class="row">
                <div class="col-md-3" ng-repeat="item in resourcesList">
                    <div class="resource-warp">
                          <div class="resource-img">
                               <img src="/images/book.png">
                          </div>
                          <div class="resource-introduce">
                               <h4>{{item.resourceName}}</h4>
                               <small>{{item.resourceInfo}}</small>
                          </div>
                          <div class="resource-category">
                               <i class="fa fa-list-ul"></i>
                               <span ng-bind="item.keyWord"></span>
                          </div>
                          <div class="resource-info">
                               <i class="fa fa-eye"></i>
                               <span class="pr12" ng-bind="item.viewCount"></span>
                               <i class="fa fa-heart"></i>
                               <span class="pr12" ng-bind="item.favoriteCount"></span>
                               <div class="user">
                                   <i class="fa fa-user-secret">
                                       <md-tooltip md-direction="top">
                                            <span ng-bind="item.username"></span>
                                       </md-tooltip>
                                   </i>
                               </div>
                          </div>
                     </div>
                </div>
            </div>
            <!-- <div class="resources-list"></div> -->
      </div>
</div>