<div class="container">
      <ol class="breadcrumb bbs-breadcrumb">
            <li><a ui-sref="bbs">论坛</a></li>
            <li class="active"><a href="#">{{nowResource}}</a></li>
      </ol>
      <div class="resources-warp">
            <div class="row">
                <div class="col-md-3">
                    <div class="resource-warp">
                          <div class="resource-img">
                               <img src="/images/book.png">
                          </div>
                          <div class="resource-introduce">
                               <h4>简单使用</h4>
                               <small>可以任意修改  下拉箭头样式  可以自己放入任意图片来代替下拉箭头样式</small>
                          </div>
                          <div class="resource-category">
                               <i class="fa fa-list-ul"></i>
                               <span>上传</span>
                          </div>
                          <div class="resource-info">
                               <i class="fa fa-eye"></i>
                               <span class="pr12">50</span>
                               <i class="fa fa-heart"></i>
                               <span class="pr12">50</span>
                               <div class="user">
                                   <i class="fa fa-user-secret"></i>
                               </div>
                          </div>
                     </div>
                </div>
            </div>
            <!-- <div class="resources-list"></div> -->
      </div>
</div>