<div>
       <div class="user-portrait-set">
               <div class="row">
                      <div class="col-md-6">
                             <div class="cropArea">
                                    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                             </div>
                             <div class="select-img">请选择上传图片: <input type="file" id="fileInput"/></div>
                      </div>
                      <div class="col-md-6">
                             <div class="portrait-result">生成头像预览:</div>
                             <div><img ng-src="{{myCroppedImage}}" /></div>
                             <div class="save-portrait">
                                   <button class="btn btn-info" ng-click="savePortrait(myCroppedImage)">上传头像</button>
                             </div>
                      </div>
               </div>
       </div>
	<div class="gummy_dialog_content">
            <from role="form" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-md-2">
                         <label class="login_label">
                             用户名称 
                             <span style="color: red;">*</span>
                         </label>
                    </div>
                    <div class="col-md-10">
                         <input placeholder="请输入用户名" type="text" class="form-control" ng-model="nowUser.username"/>
                     </div>
                 </div>
                 <div class="row">
                    <div class="col-md-2">
                         <label class="login_label">
                            用户邮箱 
                            <span style="color: red;">*</span>
                        </label>
                    </div>
                    <div class="col-md-10">
                         <input placeholder="请输入用户邮箱" type="email" class="form-control" ng-model="nowUser.email"/>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-2">
                         <label class="login_label">
                             手机号
                         </label>
                    </div>
                    <div class="col-md-10">
                         <input placeholder="请输入手机号" type="text" class="form-control" ng-model="nowUser.mobile"/>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-2">
                         <label class="login_label">
                             生日
                         </label>
                    </div>
                    <div class="col-md-10">
                         <!-- <input placeholder="请输入手机号" type="text" class="form-control" ng-model="nowUser.birth"/> -->
                         <input type="text" readonly class="form_datetime form-control" ng-model="nowUser.birth">
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-2">
                         <label class="login_label">
                             现居地
                         </label>
                    </div>
                    <div class="col-md-10">
                         <input placeholder="现居住地址" type="text" class="form-control" ng-model="nowUser.address"/>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-2">
                         <label class="login_label">
                             就读大学
                         </label>
                    </div>
                    <div class="col-md-10">
                         <input placeholder="就读大学" type="text" class="form-control" ng-model="nowUser.university"/>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-2">
                         <label class="login_label">
                             个人介绍
                         </label>
                    </div>
                    <div class="col-md-10">
                         <!-- <input placeholder="就读大学" type="text" class="form-control" ng-model="nowUser.university"/> -->
                         <textarea ng-model="nowUser.intorduce"></textarea>
                    </div>
                 </div>
                 <div class="row">
                    <button class="btn btn-info" ng-click="saveUser()">保存</button>
                    <button class="btn btn-warn" ng-click="resetUser()">重置</button>
                 </div>
            </from>
        </div>
</div>