<div class="gummy_main_body">
	<section>
		 <div id="myCarousel" class="carousel slide gummy_carousel">
			 <!-- 轮播（Carousel）指标 -->
			 <ol class="carousel-indicators">
			        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			        <li data-target="#myCarousel" data-slide-to="1"></li>
			        <li data-target="#myCarousel" data-slide-to="2"></li>
			 </ol>   
			 <!-- 轮播（Carousel）项目 -->
			 <div class="carousel-inner">
			        <div class="item active">
			            <img src="" alt="First slide">
			            <div class="carousel-caption">标题 1</div>
			        </div>
			        <div class="item">
			            <img src="" alt="Second slide">
			            <div class="carousel-caption">标题 2</div>
			        </div>
			        <div class="item">
			            <img src="" alt="Third slide">
			            <div class="carousel-caption">标题 3</div>
			        </div>
			 </div>
			 <!-- 轮播（Carousel）导航 -->
			 <a class="carousel-control left" href="#myCarousel" 
			        data-slide="prev">&lsaquo;
			 </a>
			 <a class="carousel-control right" href="#myCarousel" 
			        data-slide="next">&rsaquo;
			 </a>
		 </div>
	</section>
	<section style="height: 400px;">
		 <div class="coures_wrapper">
		 	<div class="container">
		 		<div class="row course_header">
		 		       <h3>Courses</h3>
            				 <h2 style="font-family: '方正兰亭黑_GBK'">私人前端学习平台精选课程</h2>
		 		</div>
		 		<p>学习方式有 ppt ，视频 ，实例等，还可以与小伙伴组成小队，参加易学堂的团队制作活动。</p>
		 		<a class="chapter_button" ui-sref="course"><button class="btn btn-warning btn-lg"><span>请选择课程</span></button></a>
		 		<div class="row course_list">
		 		       <div class="course_contain">
			 			 <div class="course_box">
			 			       <div class="course1" ng-mouseenter="showChapter($event)"></div>
			 			       <div class="course_hoverd" ng-if="courseMenu.course1" ng-mouseleave="hideChapter()">
			 			      		<a class="btn btn-primary" ui-sref="courseDetail({courseId:1})">查看课程</a>
			 			       </div>
			 			 </div>
			 			 <div class="courses_circle_contain">
			 			 	 <div class="courses_circle">
			 			 	       <img src="/images/html.svg" class="courses_img">
			 			       </div>
			 			       <span class="course_name">HTML</span>
			 			 </div> 
		 		       </div>
		 		       <div class="course_contain">
			 			 <div class="course_box">
			 			       <div class="course2" ng-mouseenter="showChapter($event)"></div>
			 			       <div class="course_hoverd" ng-if="courseMenu.course2" ng-mouseleave="hideChapter()">
			 			      		<a class="btn btn-primary" ui-sref="courseDetail({courseId:2})">查看课程</a>
			 			       </div>
			 			 </div>
			 			 <div class="courses_circle_contain">
			 			 	 <div class="courses_circle">
			 			 	 	<img src="/images/javascript.svg" class="courses_img">
			 			       </div>
			 			       <span class="course_name">JavaScript</span>
			 			 </div> 
		 		       </div>
		 		       <div class="course_contain">
			 			 <div class="course_box">
			 			       <div class="course3" ng-mouseenter="showChapter($event)"></div>
			 			       <div class="course_hoverd" ng-if="courseMenu.course3" ng-mouseleave="hideChapter()">
			 			      		<a class="btn btn-primary" ui-sref="courseDetail({courseId:3})">查看课程</a>
			 			       </div>
			 			 </div>
			 			 <div class="courses_circle_contain">
			 			 	 <div class="courses_circle">
			 			 	 	<img src="/images/css.svg" class="courses_img">
			 			       </div>
			 			       <span class="course_name">CSS</span>
			 			 </div> 
		 		       </div>
		 		       <div class="course_contain">
			 			 <div class="course_box">
			 			       <div class="course4" ng-mouseenter="showChapter($event)"></div>
			 			       <div class="course_hoverd" ng-if="courseMenu.course4" ng-mouseleave="hideChapter()">
			 			      		<a class="btn btn-primary" ui-sref="courseDetail({courseId:4})">查看课程</a>
			 			       </div>
			 			 </div>
			 			 <div class="courses_circle_contain">
			 			 	 <div class="courses_circle">
			 			 	 	<img src="/images/jquery.svg" class="courses_img">
			 			       </div>
			 			       <span class="course_name">JQuery</span>
			 			 </div> 
		 		       </div>
		 		       <div class="course_contain">
			 			 <div class="course_box">
			 			       <div class="course5" ng-mouseenter="showChapter($event)"></div>
			 			       <div class="course_hoverd" ng-if="courseMenu.course5" ng-mouseleave="hideChapter()">
			 			      		<a class="btn btn-primary" ui-sref="courseDetail({courseId:5})">查看课程</a>
			 			       </div>
			 			 </div>
			 			 <div class="courses_circle_contain">
			 			 	 <div class="courses_circle">
			 			 	 	<img src="/images/bootstrap.svg" class="courses_img">
			 			       </div>
			 			       <span class="course_name">BootStrap</span>
			 			 </div> 
		 		       </div>
		 		       <div class="course_contain">
			 			 <div class="course_box">
			 			       <div class="course6" ng-mouseenter="showChapter($event)"></div>
			 			       <div class="course_hoverd" ng-if="courseMenu.course6" ng-mouseleave="hideChapter()">
			 			      		<a class="btn btn-primary" ui-sref="courseDetail({courseId:6})">查看课程</a>
			 			       </div>
			 			 </div>
			 			 <div class="courses_circle_contain">
			 			 	 <div class="courses_circle">
			 			 	 	<img src="/images/ajax.svg" class="courses_img">
			 			       </div>
			 			       <span class="course_name">AJAX</span>
			 			 </div> 
		 		       </div>
		 		</div>
		 	</div>
		 </div>
	</section>
       <section class="special_learn_way">
       	 <div class="container">
       	 	 <div class="row course_header" style="margin-top: 120px;">
       	 	       <h2 style="color: #4EABD9;">學云微课堂特色学习</h2>
            		       <h3 style="font-family: '方正兰亭黑_GBK';color: #fff;">赶紧选择小伙伴，一起加入学习吧！</h3>
       	 	 </div>
       	 	 <div class="row feature_holder">
       	 	 	 <div>
	   	 	 	 	<div class="feature_description">
	     	 	 	 		<span>边交友边学习</span>
	     	 	 	 		<h4>学习小组</h4>
	     	 	 	 		<p>可以在线交友，跟小伙伴一起讨论、学习</p>
	     	 	 	 		<a ui-sref="bbs">开始交友</a>
	     	 	 	 	</div>
	     	 	 	 	<div class="feature_img">
	     	 	 	 		<img src="images/learn.png">
	     	 	 	 	</div>
       	 	 	 </div>
       	 	 	  <div>
	   	 	 	 	<div class="feature_description">
	     	 	 	 		<span>边实验边学习</span>
	     	 	 	 		<h4>实验室</h4>
	     	 	 	 		<p>在线编译系统，无需编译器，轻松写代码</p>
	     	 	 	 		<a ui-sref="bbs">开始学习</a>
	     	 	 	 	</div>
	     	 	 	 	<div class="feature_img">
	     	 	 	 		<img src="images/experience.png">
	     	 	 	 	</div>
       	 	 	 </div>
       	 	 	  <div>
	   	 	 	 	<div class="feature_description">
	     	 	 	 		<span>边借鉴边学习</span>
	     	 	 	 		<h4>热门资源</h4>
	     	 	 	 		<p>可以下载各类插件资源和图书文档，借鉴学习</p>
	     	 	 	 		<a ui-sref="bbs">开始学习</a>
	     	 	 	 	</div>
	     	 	 	 	<div class="feature_img">
	     	 	 	 		<img src="images/hotResource.png">
	     	 	 	 	</div>
       	 	 	 </div>
       	 	 </div>
       	 </div>
       </section>
</div>
