<div>
       <section class="course_center_header">
       	 <div class="container row">
      	             <div class="col-md-6 course_center_header_title">
      	             	 <h1>Getting Started</h1>
      	             	 <p style="font-family: '方正兰亭黑_GBK'">
	                        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;你可以选择以下学科进行学习。每一门课
	                        <br/>程都是易学堂为您精心挑选HTML.Javascript
	                        <br/>.CSS.JQuery.Bootstrap.Ajax
	                    </p>
      	             </div>
             </div>
       </section>
       <section class="course_center_courses">
       	 <div class="container">
       	 	 <div class="row" style="margin-bottom: 60px;">
       	 	 	<div class="course_courses_title">
       	 	 	   <h2 style="font-family: '方正兰亭黑_GBK'">
  					选择课程开始学习吧！
                             </h2>
       	 	 	</div>
       	 	 </div>
       	 	 <div class="row" style="margin-bottom: 70px;">
       	 	 	 <div class="col-md-4 bounceInLeft animated">
       	 	 	 	 <div class="course_card">
                                       <div class="course_img">
                                       	 <img alt="Ruby Path Badge" class="image-rotate" src="images/html.svg">
                                       </div>
       	 	 	 	 	 <div class="course_content">
				                    <h2>
				                        <a href="" class="course_html">HTML</a>
				                    </h2>
				                    <p class="tct js-path-description">
				                        HTML 指超文本标签语言。
				                        <br/>HTML 是通向 WEB 技术世界的钥匙。
				                        <br/>在本教程中，您将学习如何使用 HTML 来创建站点。
				                    </p>
				             </div>
				             <div class="course_section_btn">
				             	 <a href="">查看章节</a>
				             </div>
				             <div class="course_next">
				             	 <div style="margin: 0 70px;">
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/html-ppt.png">
				             	 	 	</a>
				             	 	 </div>
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/html-video.png">
				             	 	 	</a>
				             	 	 </div>
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/html-up.png">
				             	 	 	</a>
				             	 	 </div>
				             	 </div>
				             </div>
       	 	 	 	 </div>
       	 	 	 </div>
       	 	 	 <div class="col-md-4 bounceInLeft animated">
       	 	 	 	<div class="course_card">
       	 	 	 		 <div class="course_img">
                                       	 <img alt="Ruby Path Badge" class="image-rotate" src="images/javascript.svg">
                                       </div>
       	 	 	 	 	 <div class="course_content">
				                    <h2>
				                        <a href="" class="course_js">JavaScript</a>
				                    </h2>
				                    <p class="tct js-path-description">
				                        JavaScript 是属于网络的脚本语言！
				                        <br/>JavaScript 被数百万计的网页用来改进设计、验证表单、检测浏览器、创建cookies，以及更多的应用。
				                    </p>
				             </div>
				             <div class="course_section_btn">
				             	 <a href="">查看章节</a>
				             </div>
				             <div class="course_next">
				             	 <div style="margin: 0 108px;">
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/js-ppt.png">
				             	 	 	</a>
				             	 	 </div>
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/js-video.png">
				             	 	 	</a>
				             	 	 </div>
				             	 </div>
				             </div>
       	 	 	 	</div>
       	 	 	 </div>
       	 	 	 <div class="col-md-4 bounceInRight animated">
       	 	 	 	<div class="course_card">
       	 	 	 		 <div class="course_img">
                                       	 <img alt="Ruby Path Badge" class="image-rotate" src="images/css.svg">
                                       </div>
       	 	 	 	 	 <div class="course_content">
				                    <h2>
				                        <a href="" class="course_css">CSS</a>
				                    </h2>
				                    <p class="tct js-path-description">
				                        通过使用 CSS 来提升工作效率！
				                        <br/>在我们的 CSS 教程中，您会学到如何使用 CSS 同时控制多重网页的样式和布局。
				                    </p>
				             </div>
				             <div class="course_section_btn">
				             	 <a href="">查看章节</a>
				             </div>
				             <div class="course_next">
				             	 <div style="margin: 0 70px;">
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/css-ppt.png">
				             	 	 	</a>
				             	 	 </div>
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/css-video.png">
				             	 	 	</a>
				             	 	 </div>
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/css-up.png">
				             	 	 	</a>
				             	 	 </div>
				             	 </div>
				             </div>
       	 	 	 	</div>
       	 	 	 </div>
       	 	 </div>
       	 	 <div class="row">
       	 	 	 <div class="col-md-4 bounceInLeft animated">
       	 	 	 	 <div class="course_card">
                                       <div class="course_img">
                                       	 <img alt="Ruby Path Badge" class="image-rotate" src="images/jquery.svg">
                                       </div>
       	 	 	 	 	 <div class="course_content">
				                    <h2>
				                        <a href="" class="course_jquery">JQuery</a>
				                    </h2>
				                    <p>
				                        jQuery 是一个 JavaScript 库。极大地简化了 JavaScript 编程。
				                    </p>
				             </div>
				             <div class="course_section_btn">
				             	 <a href="">查看章节</a>
				             </div>
				             <div class="course_next">
				             	 <div style="margin: 0 70px;">
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/jq-ppt.png">
				             	 	 	</a>
				             	 	 </div>
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/jq-video.png">
				             	 	 	</a>
				             	 	 </div>
				             	 </div>
				             </div>
       	 	 	 	 </div>
       	 	 	 </div>
       	 	 	 <div class="col-md-4 bounceInRight animated">
       	 	 	 	<div class="course_card">
       	 	 	 		 <div class="course_img">
                                       	 <img alt="Ruby Path Badge" class="image-rotate" src="images/bootstrap.svg">
                                       </div>
       	 	 	 	 	 <div class="course_content">
				                    <h2>
				                        <a href="" class="course_bootstrap">BootStrap</a>
				                    </h2>
				                    <p>
				                        Bootstrap，来自 Twitter。
				                        <br/>是目前最受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JavaScript 的，它简洁灵活，使得 Web 开发更加快捷。
				                    </p>
				             </div>
				             <div class="course_section_btn">
				             	 <a href="">查看章节</a>
				             </div>
				             <div class="course_next">
				             	 <div style="margin: 0 108px;">
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/bs-ppt.png">
				             	 	 	</a>
				             	 	 </div>
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/bs-video.png">
				             	 	 	</a>
				             	 	 </div>
				             	 </div>
				             </div>
       	 	 	 	</div>
       	 	 	 </div>
       	 	 	 <div class="col-md-4 bounceInRight animated">
       	 	 	 	<div class="course_card">
       	 	 	 		 <div class="course_img">
                                       	 <img alt="Ruby Path Badge" class="image-rotate" src="images/ajax.svg">
                                       </div>
       	 	 	 	 	 <div class="course_content">
				                    <h2>
				                        <a href="" class="course_ajax">AJAX</a>
				                    </h2>
				                    <p class="tct js-path-description">
				                        AJAX 是异步的 JavaScript 和 XML。
				                        <br/>不是新的编程语言，而是一种使用现有标准的新方法。是与服务器交换数据并更新部分网页的艺术，在不重新加载整个页面的情况下。
				                    </p>
				             </div>
				             <div class="course_section_btn">
				             	 <a href="">查看章节</a>
				             </div>
				             <div class="course_next">
				             	 <div style="margin: 0 70px;">
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/ajax-ppt.png">
				             	 	 	</a>
				             	 	 </div>
				             	 	 <div class="course_media_img">
				             	 	 	<a href="">
				             	 	 		<img src="images/ajax-video.png">
				             	 	 	</a>
				             	 	 </div>
				             	 </div>
				             </div>
       	 	 	 	</div>
       	 	 	 </div>
       	 	 </div>
       	 </div>
       </section>

</div>