<md-dialog style="width:350px;height:190px;">
    <md-dialog-content>
        <div class="gummy_dialog_title">
            <div class="title">登录</div>
            <span class="glyphicon glyphicon-remove show-connect-close gummy_line_none" aria-hidden="true" ng-click="closeFunction()"></span>
        </div>
        <div class="gummy_dialog_content">
                <div class="row">
                    <div class="col-md-4">
                         <label class="login_label">用户邮箱</label>
                    </div>
                    <div class="col-md-8">
                         <input placeholder="请输入用户邮箱" type="text" class="form-control" ng-model="email"/>
                     </div>
                     <!-- <div class="dbname_error_msg" ng-show="showError" style="top: 40px;left: 145px;width: 180px;">
                           <span ng-bind="errorMsg"></span>
                     </div> -->
                 </div>
                 <div class="row">
                    <div class="col-md-4">
                         <label class="login_label">用户密码</label>
                    </div>
                    <div class="col-md-8">
                         <input placeholder="请输入用户密码" type="password" class="form-control" ng-model="password"/>
                    </div>
                 </div>
        </div>
         <div class="save-result" style="padding:10px 0 0 0;margin:10px 110px">
            <button type="button" class="btn btn-info gummy_line_none" ng-click="saveSql()">登录</button>
            <button type="button" class="btn btn-warning gummy_line_none" ng-click="closeFunction()" style="margin-left: 15px;">取消</button>
        </div>
    </md-dialog-content>
</md-dialog>