/*course_index.html --- css*/
.coures_wrapper {
    background-color: #fff;
}
.course_header{
    margin-top: 20px;
}
.course_header h3{
    text-transform: uppercase;
    font-size: 1.25em;
    color: #5bb5de;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
}
.course_header h2{
    text-align: center;
    font-weight: 600;
    margin-top:0px;
    margin-bottom: 0px;
}
.course_header+p{
    max-width: 80%;
    margin: 1em auto;
    color: #BDBDBD;
    text-align: center;
}
.chapter_button {
    margin: 40px auto;
    width: 8%;
    height: 100%;
    display: block;
}
.course_list{
    padding:0 172px;
}
.course_contain{
    display: inline-block;
    width: 144px;
    height: 216px;
}
.coures_wrapper .row>.course_contain:not(:last-child){
    margin-right: 10px;
}
.course_box {
     display: inline-block;
     width: 136px;
     height: 136px;
     margin:0 4px;
     position: absolute;
}
.course_hoverd{
    z-index: 2;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0px;
    height: 136px;
    padding: 51px 27px;
}
.courses_circle_contain{
    position: relative;
    top: 134px;
    width: 144px;
    height: 100px;
}
.courses_circle{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #fff;
    margin-left: 30px;
    display: inline-block;
}
.courses_img{
    width: 88%;
    margin-top: 5px;
    margin-left: 5px;
}
.course1, .course2, .course3, .course4, .course5, .course6 {
    display: inline-block;
    width: 100%;
    padding: 50%;
    background: url(/images/course-list.png) no-repeat;
    background-color: #fff;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    vertical-align: bottom;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.course1 {
    background-position: 0 0;
    background-size: 100%;
}
.course2 {
    background-position: 0 10.9%;
    background-size: 100%;
}
.course3 {
    background-position: 0 21.7%;
    background-size: 100%;
}
.course4 {
    background-position: 0 32.6%;
    background-size: 100%;
}
.course5 {
    background-position: 0 43.4%;
    background-size: 100%;
}
.course6 {
    background-position: 0 54.2%;
    background-size: 100%;
}
.course_name{
    display: block;
    text-align: center;
    width: 100%;
    color: #dcdcdc;
}
.special_learn_way{
    display: block;
    background-color: #FDB089;
    height: 650px;
}
.feature_holder{
    width: 100%;
    padding:3.5em 0;
}
.feature_holder>div{
    text-align: left;
    font-size: 80%;
    background: #fff;
    border-radius: 10px;
    padding: 0 1.5em;
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 370px;
}
.feature_holder>div:not(:last-child) {
    margin-right: 15px;
}
.feature_description {
    padding-top: 15px; 
}
.feature_description span{
    color: #5bb5de;
    font-size: 15px;
    font-weight: 600;
}
.feature_img {
    padding-bottom: 15px;
}
.feature_img img {
     height: 235px;
     width: 365px;
}







/*course_center 的CSS*/
.course_center_header{
    width: 100%;
    height:500px;
    background-color: #278998;
    margin:0;
    padding-top: 120px;
}
.course_center_header_title {
    text-align: center;
}
.course_center_header_title h1{
    color: #a4dae2;
    margin-bottom: 15px;
}
.course_center_header_title p{
    color: #ffffff;
}
.course_center_courses{
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    padding-top: 50px;
}
.course_center_courses .row {
    margin-bottom: 65px;
}
.course_courses_title{
    text-align: center;
    margin-bottom: 20px;
}
.course_courses_title h2{
    color: #aaaaaa;
}
.course_card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    padding: 20px;
    height: 380px;
    text-align: center;
    padding-bottom: 80px;
}
.course_img {
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    top: -2.5em;
    z-index: 4;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    display: block;
    height: 110px;
    padding: 0.3125em;
    width: 110px;
}
.course_img img{
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}
.image-rotate{
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
}
.image-rotate:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.course_content{
    padding-top: 75px;
    position: relative;
    text-align: center;
    z-index: 3;
}
.course_content p{
    color: #585a5b;
}
.course_content .course_html {
    color: #b24626;
    font-weight: bold;
}
.course_content .course_js {
    color: #d7a627;
    font-weight: bold;
}
.course_content .course_css {
    color: #31a480;
    font-weight: bold;
}
.course_content .course_jquery {
    color: #54588a;
    font-weight: bold;
}
.course_content .course_bootstrap {
    color: #d67428;
    font-weight: bold;
}
.course_content .course_ajax {
    color: #585a5b;
    font-weight: bold;
}
.course_section_btn{
    margin-top:30px;
}
.course_section_btn>a{
    border: 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 75%;
    line-height: 3;
    /*padding: 0 2.5em;*/
    padding-left: 5em;
    padding-right: 5em;
    background-color: #278998;
    border: 2px solid #278998;
    color: #fff;
    border-radius: 100px;
    font-family: "OpenSans",Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.course_section_btn>a:active, 
.course_section_btn>a:focus, 
.course_section_btn>a:hover {
    background-color: #206f7c;
    border-color: #206f7c;
    color: #fff;
}

.course_next{
    background: #fcfcfc;
    border-top: 1px solid #e5e4e2;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 5px 1.25em;
    text-align: left;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    width: calc(100% - 30px);
    height: 68px;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0;
}
.course_media_img{
    margin-right: 15px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    display: inline-block;
    width: 55px;
    height: 55px;
    padding: 0.3125em;
    position: relative;
}
.course_media_img img{
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}
/*趣味学习--代码实践*/
.courses-center-practice {
    background-color: #ffffff;
    width: 100%;
    height: 350px;
    padding-top: 20px;
}


/*课程章节的CSS*/
.course_detai_header {
    width: 100%;
    height: 300px;
    background-color: #278998;
    margin: 0;
    padding: 30px;
}
.bb-container {
    border: none;
    background-color: #278998;
    padding: 30px 0;
    position: absolute;
    width: 100%;
}
.bb-container .row>div {
    height: 230px;
}
.bb, .bb::before, .bb::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
}
.bb {
      width: 200px;
      height: 200px;
      margin: auto;
      background: url("img/Button-White-Large.png") no-repeat 50%/70% rgba(0, 0, 0, 0.1);
      color: #69ca62;
      box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 0.5);
}
.bb::before, .bb::after {
      content: '';
      z-index: -1;
      margin: -5%;
      box-shadow: inset 0 0 0 2px;
      animation: clipMe 8s linear infinite;
}
.bb::before {
     animation-delay: -4s;
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 220.0px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220.0px, 0px);
  }
  50% {
    clip: rect(218.0px, 220.0px, 220.0px, 0px);
  }
  75% {
    clip: rect(0px, 220.0px, 220.0px, 218.0px);
  }
}

.course_chapter {
    background-color: #fbfbfb;
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.chapter_header {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ececec;
}
.chapter_header .breadcrumb {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #fbfbfb;
}
.chapter_header button {
    position: absolute;
    right: 5px;
    top: 0;
}
.chapter_container{
    width: 100%;
    position: relative;
}
.chapter_container .chapter {
    width: 80%;
    height: 70px;
    margin-top: 15px;
    margin-left: 45px;
    padding: 18px 30px;
    background-color: #FFFFFF;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-shadow: 0 0 6px #dcdcdc;
}
.chapter_container .chapter span {
    color: #393d40;
    font-size: x-large;
}
.chapter_container .chapter button {
    float: right;
}
.node::before {
    background: #fff;
    background-size: 80%;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #e5e5e5;
    content: "";
    display: block;
    height: 26px;
    /*left: -2.5em;*/
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    width: 26px;
    z-index: 2;
}
.nodeConnect::after {
    background: #e5e5e5;
    bottom: 0;
    box-shadow: 0 0 0 2px #fff,0 0 0 3px #e5e5e5;
    content: "";
    height: 100%;
    left: 11px;
    position: absolute;
    top: -60%;
    width: 4px;
    z-index: 1;
}
.chapter-userBox{
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    padding: 20px;
}
.user-imgBox {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    display: block;
    height: 220px;
    padding: 0.3125em;
    position: relative;
    width: 220px;
    margin:auto;
}
.chapter-userBox .chapter-progress {
    text-align: center;
    margin-top: 20px;
}
.chapter-userBox .chapter-progress span {
    color: #aaaaaa;
    display: block;
}
.chapter-userBox .chapter-progress span:first-child {
    font-weight: bold;
    font-size: larger;
}
.chapter-userset-box{
    width: calc(100% + 40px);
    background-color: #fcfcfc;
    border-top: 1px solid #e5e4e2;
    height: 60px;
    position: relative;
    bottom: -20px;
    left: -20px;
}
.chapter-userset-box button {
    width: 60%;
    margin-top: 9px;
    margin-left: 20%;
}