.container{
    width: 1280px;
    margin:0 auto;
}
.gummy_nav{
    margin-bottom: 0;
    background-color: #1f384d;
}
.logo{
    width: 80px;
    height: 50px;
    display: inline-block;
    float: left;
}
.gummy_btn_a{
    color:#FFFFFF;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}
.nav_right{
    display: inline-block;
    float: right;
    line-height: 50px;
}
.btn-gummy{
    color: #fff;
    background-color: #1f384d;
    border-color: #1f384d;
}
.btn-gummy:hover, 
.btn-gummy.focus, 
.btn-gummy.active, 
.open>.dropdown-toggle.btn-gummy {
    color: #fff;
    background-color: #1f384d;
    border-color: #1f384d;
}
.gummy_line_none{
   outline: none;
}
.gummy-dialog-title {
    overflow: hidden;
    width: 100%;
    height: 40px;
    background: #1f384d;
    padding: 10px;
}
.gummy-dialog-title span{
    color: #FFFFFF;
}
.gummy-dialog-title i{
    color: #FFFFFF;
    position: absolute;
    right: 10px;
    top: 12px;
     -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
}
.gummy-dialog-title i:hover{
    transform: rotate(180deg);
}
.gummy-dialog-content {
    position: relative;
    height: 130px;
    margin-top: 23px;
}
.gummy-dialog-content .row{
    margin: 0;
}
.gummy-dialog-content .row:not(:first-child) {
    margin-top: 5px;
}


.gummy_dialog_content{
    width: calc(100% - 60px);
    margin: 0 30px;
}
.gummy_dialog_content .row:not(:first-child){
     margin-top: 15px;
}
.login_label{
    float: right;
    height: 34px;
    line-height: 34px;
    margin-bottom: 0;
}
.gummy_warn {
    z-index: 100;
    position: absolute;
    width: 120px;
    right: 13px;
    top: 68px;
    border: 1px solid #ececec;
    border-radius: 4px;
    text-indent: 5px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    background-color: rgba(237, 85, 101, 0.8);
}
.gummy_warn:after {
    content: "";
    position: absolute;
    left: 19px;
    top: 100%;
    margin-top: -1px;
    border-style: solid solid dashed;
    border-width: 5px 5px 0;
    border-color: rgba(237, 85, 101, 0.8) transparent transparent;
}
.maincontent{
    width: 100%;
}
.gummy_carousel{
    width: 100%;
    height: 450px;
}