/*user_index css*/
.user_wrap {
    background-color: #f7f7f7;
}
.user_wrap_left{
    float: left;
    width: 20%;
}
.user_wrap_left_top{
    width: 100%;
    height: 240px;
    position: relative;
}
.head_portrait_top{
    width: 100%;
    height: 100px;
    background: url(/images/003.png) no-repeat;
    background-size: 100% 100px;
}
.head_portrait {
    position: absolute;
    top: 23%;
    left: 28%;
}
.head_portrait_img{
    width: 114px;
    height: 114px;
    background: #FAFAFA;
    padding: 7px;
    border-radius: 50%;
    position: relative;
    display: block;
}
.user_wrap_left_top .friend {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 10px;
}
.user_wrap_left_top .friend ul{
    margin: 0;
    padding: 0;
    background-color: rgba(78, 172, 251, 0.45);
}
.user_wrap_left_top .friend ul li {
    height: 60px;
    width: 49%;
    display: inline-block;
    color: #FFFFFF;
    padding: 20px 26px;
}
.user_wrap_left_top .friend ul li:first-child {
    border-right: 1px solid #ffffff;
}
.user_wrap_left_top .friend ul li span:first-child {
    font-size: medium;
    font-weight: 700;
}
.user_wrap_left_top .friend ul li .badge{
    float: right;
    background-color: #FFF;
    color: #abd5f9;
}
.user_wrap_right{
    float: left;
    width: calc(80% - 20px);
    margin: 10px 10px 0 10px;
    height: calc(100vh - 55px);
    background: #FFFFFF;
}
.user_wrap_right_content{
    width: 100%;
    height: 100%;
}

/*用户学习课程页面css*/
.user-course-warp {
    padding: 10px;
    position: relative;
    min-height: 300px;
    height: auto;
}
.user-course-list {
    float: left;
}
.user-course-box {
    display: inline-block;
    height: 300px;
    width: 250px;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    border: 1px solid #dcdcdc;
}
.user-course-box:hover {
    box-shadow: 0px 1px 10px #888888;
}
.box-course-img {
    height: 130px;
    padding: 2px;
    border-bottom: 1px solid #ececec;
}
.box-course-img img{
    width: 100%;
    height: 130px;
}
.box-course-name {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.box-course-name label {
    font-size: large;
}
.box-course-progress {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.box-course-progress-bar {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.box-course-progress-bar .process-bar{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #5bc0de;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.box-course-progress-btn{
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

/*用户学习记录页面的css*/
.liright {
    vertical-align: top;
    margin-left: 10px;
    margin-top: -4px;
}
.left_timestamp{
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
}
.right_url{
    display: inline-block;
    border-left: 1px solid #cccccc;
    padding-left: 10px;
}
.lilefttime {
    color: #858585;
    font-size: 12px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}


/*userStranger.html   css*/
.user-stranger {
    width: 100%;
    background-color: #f7f7f7;
    height: calc(100vh - 52px);
}
.stranger-list-warp {
    width: 100%;
    padding: 10px 20px;
}
.stranger-warp {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 10px #dcdcdc;
    margin-bottom: 10px;
    height: 100px;
    padding: 5px 10px;
    position: relative;
}
.stranger-warp .portrait {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    display: inline-block;
    margin: 10px 25px;
    box-shadow: 0 0 10px #a09898;;
}
.stranger-warp .info {
    float: left;
    display: inline-block;
    margin-left: 10px;
}
.stranger-warp .info .userInfo strong {
    font-size: 24px;
    color: #ababab;
    margin-right: 10px;
}
.stranger-warp .info .userInfo span {
    font-size: 16px;
    color: #66a0f1;
}
.stranger-warp .userIntorduce {
    display: block;
    height: 25px;
    line-height: 25px;
    color: #847979;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stranger-warp .classes {
    display: block;
    height: 28px;
    line-height: 28px;
    color: #726fb1;
    font-weight: 700;
}



.stranger-warp button {
    position: absolute;
    right: 30px;
    top: 32px;
}

.resource-ul {
    margin-left: 350px;
}
.resource-ul li {
    display: inline-block;
    color: #4498e0;
    outline: none;
}
.resource-ul li:first-child {
    margin-right: 10px;
    border-right: 1px solid #dcdcdc;
    padding-right: 10px;
}
.resource-ul li.active {
    color: #0d71c7;
    font-weight: 700;
}
.noResource{
    color: #3294e8;
    font-size: 28px;
    display: inline-block;
    margin-top: 50px;
}